/notebooks/*.ply
/notebooks/*.stl
/notebooks/*.obj
/notebooks/*.pcd
/notebooks/*.txt
/notebooks/*.npy
/notebooks/*.png

*pyc
__pycache__/*


notebooks/

outputs/

# --- Temperorarly ignore ---
app/
env/
